.recent-activity {
    background-color: rgb(0, 83, 21);
    padding: 0 0 2em 0;
    color: rgb(210, 224, 250);
    font-family: 'Rockwell', serif;
    margin: 0;
  }
  
  .ra-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .ra-cards {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 17vw; */
  }
  
  .ra-card {
    background-color: rgba(210, 224, 250, 0.9);
    border: 1px solid rgba(18, 37, 72, 0.4);
    border-radius: 8px;
    padding: 1em;
    max-width: 480px;
    height: 28rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    flex-direction: column;
    position: relative;
  }
  
  .ra-card > div:last-child {
    position: absolute;
    bottom: 1em;
    right: 1em;
  }
  
  .recent-adventure-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 0.5em;
  }
  
  .ra-card-title {
    font-size: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(18, 37, 72);
  }
  
  .ra-card-location {
    font-size: 1.2rem;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    color: rgb(18, 37, 72);
  }

  .ra-card-description {
    color: black;
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0.3em;
  }

  .view-more-btn {
    background-color: rgb(0, 83, 21);
    color: rgb(210,224,250);
    border: none;
    padding: 0.1em;

  }
  
  .ra-card-btn {
    display: inline-block;
    background-color: rgb(0, 83, 21);
    color: rgb(210, 224, 250);
    text-decoration: none;
    padding: 0.4em 1em;
    border-radius: 4px;
    font-weight: bold;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
  }

/* Shared section title style */
.section-header {
    background-color: rgb(210, 224, 250);
    color: rgb(18, 37, 72);
    font-family: 'Rockwell', serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 4px solid rgba(210, 224, 250, 0.4);
    margin: 0 0 1.5em 0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .modal-content {
    color: black;
  }

  .ra-card-description {
    color: black;
  }