
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 100px;
  height: 80px;
  box-sizing: border-box;
  background-color: antiquewhite;
  min-width: 925px;
}

body {
  padding-top: 80px;
}

.logo {
  margin: 0 auto;
}
